.error {
    color: red;
    font-size: 1.2em;
    border-style: solid;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.message {
    color: green;
    font-size: 1.2em;
    border-style: solid;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.blog {
    border: 1px solid black;
    padding-top: 0.5em;
    padding-left: 1em;
    margin-bottom: 0.5em;
}